{% extends 'base.html' %}
{% block title %}Score- WORDS{% endblock %}
{% block content %}
<br>
<div class="actions">
    <h6><a href="{% url 'deck-list' %}">WORDS</a></h6>
    <h6> | </h6>    
    <h6><a href="{% url 'album-list' %}">ALBUMS</a></h6>
    <h6> | </h6>
    <h6><a href="{% url 'add-album' %}">ADD NEW ALBUM</a></h6>
    </div>
    {% for artists in artists %}
    <h4><a href="{% url 'artist-list' %}">{{artist.artist}}</a></h4>
    {% endfor %}

{% endblock %}



<!-- user can see the list of words  -->