{% extends 'base.html' %}
{% block title %}Score{% endblock %}
{% block content %}
<br>
<div class="actions">
    <h6><a href="{% url 'deck-list' %}">WORDS</a></h6>
    <h6> | </h6>    
    <h6><a href="{% url 'artist-list' %}">ARTIST</a></h6>
    </div>
    <h1>{{ deck }}</h1>
    <h6> | </h6>  
    <h1>{{ song }}</h1>
    <br>
    <br>


{% endblock %}

<!-- this is where the user comes for the score 
i want it clean and simple with just the promt word and the definition and song 
these are randomized 
idealy it will play the song  -->




